<div class='py-5'>
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-6">
        {{ if and .Params.headline .Params.headline.text }}
          {{ $headline := (printf "<%[1]s class=\"display-3\">%[2]s</%[1]s>" .Params.headline.tag .Params.headline.text ) }}
          {{ htmlUnescape $headline | safeHTML}}
        {{ end }}

        {{ if and .Params.subtitle .Params.subtitle.text  }}
          {{ $subtitle := (printf "<%[1]s class=\"lead\">%[2]s</%[1]s>" .Params.subtitle.tag .Params.subtitle.text ) }}
          {{ htmlUnescape $subtitle | safeHTML}}
        {{ end }}

        {{ .Content }}
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
